{% extends 'base.html.twig' %}

{% set title = 'Elliot CARON' %}

{% block header %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center" id="fond">
                    <img src="{{ asset('/images/fond.jpg') }}">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary">
                    <h1>À propos de moi</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-left">
                    <p>a propos</p>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>



    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary">
                    <h1>Ma formation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-left">
                    <p>Mes formations + images</p>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>



    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary" id="aboutMe" >
                    <h1>sect 3</h1>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary" id="aboutMe" >
                    <h1>sect 4</h1>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>


    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary" id="aboutMe" >
                    <h1>sect 5</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
