{% extends 'base.html.twig' %}

{% set title = 'Elliot CARON' %}

{% block header %}
    <p>Navbar en position fixed</p>
{% endblock %}

{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary">
                    <h1>Ma formation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col text-left">
                    <p>Mes formations + images</p>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>



    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary" >
                    <h1>Qualités</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-sm-12">
                    <h2>1ere qualité</h2>
                    <p>Texte + potentiellement image</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>2eme qualité</h2>
                    <p>Texte + potentiellement image</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>3eme qualité</h2>
                    <p>Texte + potentiellement image</p>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>




    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center text-primary" >
                    <h1>Loisirs</h1>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-sm-12">
                    <h2>1er loisir</h2>
                    <p>Texte + potentiellement image</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>2eme loisir</h2>
                    <p>Texte + potentiellement image</p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>3eme loisir</h2>
                    <p>Texte + potentiellement image</p>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>
{% endblock %}
