{% extends 'base.html.twig' %}

{% set title = 'Elliot CARON' %}

{% block header %}
    <p>Navbar en position fixed</p>
    <h1>Contact Me</h1>
{% endblock %}

{% block body %}
    <p>Faire le formulaire (pas tout de suite)</p>
{% endblock %}
