{% extends 'base.html.twig' %}

{% set title = 'Elliot CARON' %}

{% block body %}
        <section>
            <div class="container">
                <div class="row">
                    <div class="col text-center text-primary" >
                        <br/>
                        <h1>{{ projet.nom }}</h1>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <p>{{ projet.description | raw }}</p>
                </div>
            </div>
        </section>
{% endblock %}

