{% extends 'base.html.twig' %}

{% set title = 'Elliot CARON' %}

{% block header %}
    <p>Navbar en position fixed</p>
    <h1>Projets</h1>
{% endblock %}

{% block body %}

{% endblock %}
