$theme-colors:(
        "primary": #B0550B,
        "secondary": #02C7AF,
);

@import "~bootstrap/scss/bootstrap";

#banner {
  background: url("../../public/images/fond.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(40%);
  height: 70%;
}

.text-gris{
  color : #CBCFCB;
}

.background_color_section_1{
  background-color : #02C7AF;
}

.background_color_section_2{
  background-color : #CBCFCB;
}

h1,h2,h3{
  font-family: 'Raleway', sans-serif;
  text-transform : uppercase;
}

h4,h5,h6{
  font-family: 'Fira Sans', sans-serif;
}

section, footer {
  font-family: 'Roboto', sans-serif;
  font-size : 18.5px;
}

hr{
  width : 100px
}

.hrbrown{
  background-color : #B0550B;
}

.hrwhite{
  background-color : white;
}
