$theme-colors:(
        "primary": #0b97b0,
        "secondary": black,
);

@import "~bootstrap/scss/bootstrap";

#banner {
  background: url("../../public/images/fond.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(40%);
  height: 70%;
}
